* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Press Start 2P", system-ui;
  box-sizing: border-box;
}

.container {
  margin: 2rem auto;
  border: solid 10px #ffffff;
  text-align: center;
  height: 35rem;
  width: 30rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

h1 {
  margin: 1rem auto;
}

.secretNumber {
  margin: 1rem auto;
  background-color: white;
  color: black;
  text-align: centre;
  justify-content: center;
  width: 8rem;
  height: 6rem;
  font-size: 2rem;
}
/* .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.checkNumber {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 25rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bolder;
}

.change,
.commentry {
  font-weight: bold;
  margin: 1rem;
  color: orange;
}

.checkbtn,
.Resetbtn {
  width: 10rem;
  padding: 1rem;
  border: solid 1px white;
  margin: 1rem auto;
}
